.image-grid-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skeleton-grid-container {
  display: flex;
  gap: 10px;
}

.skeleton-grid {
  width: 200px;
  height: 200px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.welcome {
  font-size: 18px;
  margin-bottom: 1rem;
}

.security {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
